

@use 'utils' as utils;
@use 'variables' as vars;
@use 'fonts' as fonts;

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: p-400;
  color: vars.$gray60;
  letter-spacing: -2%;
}

  .primary{
    background-color: vars.$primary;
    color:white;
  }
  .gray{
    background-color: vars.$gray40;
  }
  .primary60{
    background-color: vars.$primary60;
    color:white;
  }


#wrap{
  padding-left: 30px;
  padding-right: 30px;
  .title{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    // 애니메이션 적용
    &-sub{
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
    &-main{
      font-size: 1.875rem;
      font-weight: 600;
      line-height: 2.25rem;
    }
  }
}

#intro{
  display: block;
  width: 100%;
  height: 100vh;
  background-color: vars.$secondary40;
  img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1.logo{
    @include utils.sr-only;
  }
}

#setting{
  overflow: visible;
  #wrap{
    margin-top: 124px;
    .title{
      margin-bottom: 50px;
    }
  }
  .mySwiper{
    .swiper-slide-active{
      .title-sub{
        animation: fade-in 1s forwards;
        animation-delay: 0.5s;
      }
      .title-main{
        animation: fade-in 1s forwards;
        animation-delay: 1.5s;
      }
      .img, .map{
        animation: fade-in 1s forwards;
        animation-delay: 2.5s;
      }
      .pin1{
        animation: pin-animation 1s forwards;
        animation-delay: 2.7s;
      }
      .pin2{
        animation: pin-animation 1s forwards;
        animation-delay: 2.9s;
      }
      .pin3{
        animation: pin-animation 1s forwards;
        animation-delay: 3.1s;
      }
    }
        .title-sub, .title-main {
          opacity: 0;
          transform: translateY(20px);
        }
      }
      .img, .map{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        opacity: 0;
        transform: translateY(20px);
      }

      .map{
        .map-img{
          opacity: 0;
          transform: translateY(20px);
          animation: fade-in 1s forwards;
          animation-delay: 2.5s;
        }
        .pin1, .pin2, .pin3 {
          position: absolute;
          width: 60px;
          height: 60px;
          opacity: 0;  // 처음에는 보이지 않게 설정
          transform:scale(0);
        }
        .pin1{
          position: absolute;
          top: 18px;
          right: 14px;
        }
        .pin2{
          position: absolute;
          top: 58px;
          left: 76px;
        }
        .pin3{
          position: absolute;
          bottom: 70px;
          left: 16px;
        }
  }
  .swiper-pagination{
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 3.5s;
  }
  .skip{
    position: absolute;
    bottom: 105px;
    right: 30px;
    font-size: 0.938rem;
    line-height: 1.125rem;
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 4s;
  }
}

#login{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    margin-bottom: 30px;
  }
  .id-login{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 57px;
    .primary{
      justify-content: center;
      align-items: center;
    }
    .find-id{
      width: 100%;
      text-align: center;
      font-size: 0.938rem;
      line-height: 1.125rem;
    }
  }
  .btn-component{
    display: flex;
    justify-content: flex-start;
    padding-left: 18px;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .sns-login{
    display: flex;
    flex-direction: column;
    gap: 16px;
    .btn-component{
      display: flex;
      gap:30px;
    }
    .naver{
      background-color: vars.$naver;
      color: white;
    }
    .kakao{
      background-color: vars.$kakao;
    }
    .join{
      font-size: 0.938rem;
      line-height: 1.125rem;
      width: 100%;
      text-align: center;
    }
  }
}

.first-login{
  margin-top: 124px;
  .img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    .walk{
      opacity: 0;
      animation: fade-in-left 1s forwards;
    }
    .talk{
      transform: translateY(100%, 50%);
      opacity: 0;
      animation: fade-in-right 1s forwards;
      animation-delay: 1s;
    }
    .coffee{
      opacity: 0;
      animation: fade-in-left 1s forwards;
      animation-delay: 2s;
      margin-top: 30px;
    }
  }
  .btn{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    .btn-component{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  }
}

#login{
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    margin-bottom: 30px;
  }
  .id-login{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 57px;
    .primary{
      justify-content: center;
      align-items: center;
    }
    .find-id{
      width: 100%;
      text-align: center;
      font-size: 0.938rem;
      line-height: 1.125rem;
    }
  }
}

#join{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top:54px;
  .back{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  img{
    margin-bottom: 19px;
  }
  .join-wrapper {
      width: 100%;
      max-width: 500px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 60px;
      .cateogry, .informations, .etc-information, .agree {
        display: flex;
        flex-direction: column;
        gap: 28px;
        .title{
          h2{
            font-size: 18px;
            color: vars.$gray60;
            margin-bottom: 4px;
          }
          hr{
            border: 0;
            border-top: 1px solid vars.$gray60;
          }
        }
        .select{
          display: flex;
          gap:12px;
          flex-direction: column;
          div{
            display: flex;
            gap:9.85px;
            input[type="radio"] {
              appearance: none;
              width: 24px;
              height: 24px;
              background-color: vars.$gray30; /* 배경 유지 */
              border-radius: 50%;
              position: relative; /* ::after를 위한 기준 */
            }
            
            input[type="radio"]::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              width: 12px; /* 안쪽 원 크기 */
              height: 12px;
              background-color: vars.$primary; /* 선택된 상태 색상 */
              border-radius: 50%;
              transition: transform 0.2s ease-in-out;
            }
            
            input[type="radio"]:checked::after {
              transform: translate(-50%, -50%) scale(1); /* 체크되었을 때 안쪽 원 나타남 */
            }
          }
        }
        .id, .password, .phone, .email, .nickname, .sex,.birth, .use{
          display: flex;
          flex-direction: column;
          gap: 12px;
          h3{
            font-size: 0.9375rem;
            font-weight: 600;
          }
          input{
            border: none;
            border-bottom: 1px vars.$gray40 solid;
            padding-bottom: 4px;
            width: 100%;
            font-size: 0.9375rem;
            font-weight: normal;
          }
          input[type="date"] {
            color: vars.$gray60;
            font-size: 0.9375rem;
            font-weight: 400;
            border: none;
          }
          .select{
            display: flex;
            gap:12px;
            flex-direction: row;
            .sex{
              input[type="radio"] {
                appearance: none;
                width: 24px;
                height: 24px;
                background-color: vars.$gray30; /* 배경 유지 */
                border-radius: 50%;
                position: relative; /* ::after를 위한 기준 */
              }
              
              input[type="radio"]::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                width: 12px; /* 안쪽 원 크기 */
                height: 12px;
                background-color: vars.$primary; /* 선택된 상태 색상 */
                border-radius: 50%;
                transition: transform 0.2s ease-in-out;
              }
              
              input[type="radio"]:checked::after {
                transform: translate(-50%, -50%) scale(1); /* 체크되었을 때 안쪽 원 나타남 */
              }
            }
          }
          .use{
            overflow-y: scroll;
            background-color: vars.$gray30;
            height: 132px;
            padding: 12px;
          }
          .checkbox{
            display: flex;
            gap: 10px;
            input[type="checkbox"] {
              appearance: none;
              width: 24px;
              height: 24px;
              background-color: vars.$gray30; /* 배경 유지 */
              border-radius: 50%;
              position: relative; /* ::after를 위한 기준 */
            }
            
            input[type="checkbox"]::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              width: 12px; /* 안쪽 원 크기 */
              height: 12px;
              background-color: vars.$primary; /* 선택된 상태 색상 */
              border-radius: 50%;
              transition: transform 0.2s ease-in-out;
            }
            
            input[type="checkbox"]:checked::after {
              transform: translate(-50%, -50%) scale(1); /* 체크되었을 때 안쪽 원 나타남 */
            }
          }
        }
    }
    .btn-component{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.125rem;
      margin-bottom: 142px;
    }
  }
}

// 애니메이션 목록

.final{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding:30px;
  margin-top: 77px;
  .title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 170px;
    h2{
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.25rem;
    }
    h3{
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.375rem;
    }
  }
  .question{
    display: flex;
    gap: 30px;
    .icon{
      width: 95px;
      height: 95px;
      background-image: url('/images/logo-icon.png');
      background-size:auto ;
    }
    &-title{
      width: 205px;
      font-size: 1.5rem;
      line-height: 1.8rem;
      font-weight: 600;
    }
  }
  .answer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    .btn-component{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .next{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
    font-size: 1.125rem;
    line-height: 1.375rem;
    a{
      display: block;
    }
  }
  .progress{
    width: 100%;
    position: relative;
    .bg-bar{
      width: 100%;
      height: 20px;
      background-color: vars.$gray30;
      border-radius: 20px;
    }
    .fill-bar{
      width: 0%;
      height: 20px;
      background-color: vars.$primary40;
      position: absolute;
      top: 0;
      border-radius: 20px;
    }
  }
}

.final2{
  .back{
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding: 30px;
    width: 100%;
    gap: 8px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  &-wrapper{
  display: flex;
  flex-direction: column;
  gap: 63px;
  padding:30px;
  margin-top: 0px;

  .title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 172px;
    h3{
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.25rem;
    }
    h2{
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.375rem;
    }
  }
  .question{
    display: flex;
    flex-direction: column;
    gap: 63px;
    .question-name, .question-age{
      display: flex;
      flex-direction: column;
      gap: 30px;
      .question-title{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.8rem;
      }
      .answer{
        display: flex;
        flex-direction: column;
        gap: 12px;
        h3{
          font-size: 1.125rem;
          line-height: 1.35rem;
        }
        input{
          border: none;
          border-bottom: 1px vars.$gray40 solid;
          padding-bottom: 4px;
          width: 100%;
          font-size: 0.9375rem;
          font-weight: normal;
        }
      }
    }
  }
  .next{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
    font-size: 1.125rem;
    line-height: 1.375rem;
    a{
      display: block;
    }
  }
  .progress{
    width: 100%;
    position: relative;
    margin-top: -12px;
    .bg-bar{
      width: 100%;
      height: 20px;
      background-color: vars.$gray30;
      border-radius: 20px;
    }
    .fill-bar{
      width: 50%;
      height: 20px;
      background-color: vars.$primary40;
      position: absolute;
      top: 0;
      border-radius: 20px;
    }
  }
  }
}

.final3{
  .back{
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding: 30px;
    width: 100%;
    gap: 8px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  &-wrapper{
    display: flex;
    flex-direction: column;
    padding:30px;
    .title{
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
      h3{
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 2.25rem;
      }
      h2{
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.375rem;
      }
    }
    .fig{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 85px;
      .profile-fig{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color:vars.$gray40;
      }
      .profile-description{
        margin-top: 22px;
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
      .filebox{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        margin-top: 42px;
        .btn-component{
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 8px;
           font-size: 1.125rem;
           line-height: 1.375rem;
         }
        input{
          display: none;
        }
      }
    }
    .next{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      gap: 8px;
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-top: 58px;
      a{
        display: block;
      }
    }
    .progress{
      width: 100%;
      position: relative;
      margin-top: 68px;
      .bg-bar{
        width: 100%;
        height: 20px;
        background-color: vars.$gray30;
        border-radius: 20px;
      }
      .fill-bar{
        width: 75%;
        height: 20px;
        background-color: vars.$primary40;
        position: absolute;
        top: 0;
        border-radius: 20px;
      }
    }
  }
}

.final4{
  .back{
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding: 30px;
    width: 100%;
    gap: 8px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  &-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 55px;
    padding:30px;
    margin-top: 35px;
    .title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    h2{
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.25rem;
    }
    h3{
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.375rem;
    }
    }
    .fig{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 22px;
      .profile-fig{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color:vars.$gray40;
      }
      .profile-description{
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
    }
    .progress{
      width: 100%;
      position: relative;
      margin-top: 68px;
      .bg-bar{
        width: 100%;
        height: 20px;
        background-color: vars.$gray30;
        border-radius: 20px;
      }
      .fill-bar{
        width: 100%;
        height: 20px;
        background-color: vars.$primary40;
        position: absolute;
        top: 0;
        border-radius: 20px;
      }
    }
  }
}



@keyframes fade-in {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left{
  from{
    opacity: 0;
    transform: translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right{
  from{
    opacity: 0;
    transform: translate(100%, 50%);
  }
  to{
    opacity: 1;
    transform: translate(0, 50%);
  }
}

@keyframes pin-animation {
  0% {
    transform: scale(0);  // 처음에는 작게 시작
    opacity: 0;  // 처음에는 보이지 않음
  }
  50% {
    transform: scale(1.2);  // 크기가 커지면서
    opacity: 1;  // 점차적으로 보이기 시작
  }
  100% {
    transform: scale(1);  // 원래 크기 그대로
    opacity: 1;  // 완전히 보이게
  }
}

.home{
  .home{
    color: vars.$primary !important;
  }
}

.wrapper{
  background-color: vars.$gray20;
  height: 100vh;
  header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    background-color: #fff;
    height: 160px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.05);
    .logo{
      display: flex;
      align-items: flex-end;
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.25rem;
      color: vars.$primary;
    }
    .utils{
      display: flex;
      align-items: flex-end;
      a{
        .setting-name{
          display: none;
        }
        svg{
          width: 35px;
          height: 35px;
          fill: vars.$gray
        }
      }
    }
  }
  main{
    margin-top: 30px;
    .profile{
      display: flex;
      align-items: center;
      height: 138px;
      .line{
        width: 18px;
        height: 100%;
        background-color: vars.$primary;
        border-radius: 20px 0px 0px 20px;
      }
      .profile-image{
        margin-left: 30px;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background-color:vars.$gray40;
      }
      .profile-info{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 9px;
        h2{
          font-size: 1.75rem;
          font-weight: 600;
          line-height: 2.1rem;
        }
        .todolist{
          font-size: 1.125rem;
          line-height: 1.375rem;
          font-weight: 500;
        }
      }
    }
    .weather{
      margin-top: 15px;
      &-swiper{
        padding: 30px;
        .swiper-slide{
          overflow: visible;
          .weather-icon{
            svg{
              width: 100px;
              height: 100px;
              fill: vars.$gray20;
            }
          }
        }
      }
      &-title{
        margin-bottom: 20px;
        h2{
          font-size: 1.875rem;
          font-weight: 700;
          line-height: 2.25rem;
        }
        h3{
          margin-top: 8px;
          font-size: 0.938rem;
          font-weight: 500;
          line-height: 1.125rem;
        }
      }
      &-card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 290px;
        height: 187px;
        border-radius: 10px;
        background-color: vars.$primary40;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        .weather-info{
          text-align: center;
          h3{
            font-size: 1.875rem;
            font-weight: 700;
            line-height: 2.25rem;
          }
        }
      }
    }
  }
  footer{
    width: 100%;
    height: 140px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.05);
    ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 27px;
      align-items: center;
      justify-content: space-between;
      padding: 0px 30px;
      li{
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: vars.$gray;
        > a{
          display: flex;
          gap: 5px;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          font-size: 0.9375rem;
          line-height: 1.125rem;
          svg{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.newletter{
  height: 100%;
  main{
    height: 100%;
    padding: 0px 30px;
    padding-bottom: 170px;
    .news-list, .chat-list{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.chat{
  height: 100%;
  main{
    margin-top:0;
    height: 100%;
    padding-bottom: 170px;
    .chat-list-header{
      .chat-list-nav{
        ul{
          display: flex;
          width: 100%;
          height: 60px;
          background-color: vars.$gray20;
          li{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 100%;
          }
          .active{
            background-color: vars.$gray30;
          }
        }
      }
    }
    .chat-list-filter{
      padding: 18px 30px;
      display: flex;
      align-items: center;
      gap:5px;
      justify-content: flex-end
    }
    .chat-list{
      padding: 0px 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .new{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: calc(100vh - 200px);
        right: 30px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        transform: translateY(-50%);
        background-color: vars.$primary;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        svg{
          width: 30px;
          height: 30px;
          color: vars.$gray20;
        }
      }
    }
  }
}

.map{
  position: relative;
  .btn-component{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 45px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
    position: absolute;
    top: 0;
    right: 30px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .map{
    color: vars.$primary;
  }
}

.newletter{
  .news{
    color: vars.$primary !important;
  }
}

.chat{
  .chat{
    color: vars.$primary !important;
  }
}


.homeset{
  height: auto;
  main{
    .profile {
      display: flex;
      flex-direction: column;
      gap: 18px;
      height: auto;
      .img{
        position: relative;
        .img-profile{
          width: 124px;
          height: 124px;
          border-radius: 50%;
          background-color: vars.$gray;
        }
        .upload{
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: vars.$primary;
          position: absolute;
          right: -8px;
          bottom: -8px;
          display: flex;
          justify-content: center;
          align-items: center;
          svg{
            width: 30px;
            height: 30px;
            color: vars.$gray20;
          }
        }
        
      }
      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        h2{
          font-size: 1.875rem;
          font-weight: 700;
          line-height: 2.25rem;
        }
      }
      .follow{
        display: flex;
        gap: 10px;
        color: vars.$gray;
      }
    }
    .setting-menu{
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 30px;
      font-size: 1.2rem;
      line-height: 1.44rem;
      margin-bottom: 170px;
      ul{
        border-bottom: vars.$gray40 solid 1px;
        li{
          padding: 0px 30px;
          background-color: #fff;
          height: 62px;
          display: flex;
          align-items: center;
          border-top: vars.$gray40 solid 1px;
        }
      }
    }
  }
}


.chatwrite{
  main{
    padding: 0px 30px;
    .chat-write{
      .category{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;
      }
      .title{
        width: 100%;
        height: 36px;
        border-radius: 10px;
        padding: 7px 15px;
        overflow-x: scroll;
        font-size: 0.9378rem;
        margin-bottom: 12px;
      }
      .content{
        width: 100%; border-radius: 10px;
        height: 359px;
        padding: 7px 15px;
      }
      .upload{
        display: flex;
        gap: 8px;
        .btn-component{
          margin-top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
        }
      }
    }
  }
}

footer{
  .active{
    color: vars.$primary !important;
  }
}
